In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_csv("crop_data.csv")
df.head()

   Unnamed: 0 Zone_Name  Crop_Year                 Crop    Area  Production
0           0   Abeshge       2000             Arecanut  1254.0      2000.0
1           1   Abeshge       2000  Other Kharif pulses     2.0         1.0
2           2   Abeshge       2000                 Rice   102.0       321.0
3           3   Abeshge       2000               Banana   176.0       641.0
4           4   Abeshge       2000            Cashewnut   720.0       165.0

In [7]:
df.shape

(242361, 6)

In [9]:
sum_maxp = df["Production"].sum()
df["percent_of_production"] = df["Production"].map(lambda x:(x/sum_maxp)*100)

In [13]:
#data1 = df.drop(["Crop_Year"],axis=1)

In [14]:
data_dum = pd.get_dummies(data1)
data_dum[:5]

,Unnamed: 0,Area,Production,percent_of_production,Zone_Name_Abeshge,Zone_Name_Amekka,Zone_Name_Ana Lemo,Zone_Name_Butajira,Zone_Name_Cheha,Zone_Name_Dalocha,...,Crop_Turmeric,Crop_Turnip,Crop_Urad,Crop_Varagu,Crop_Water Melon,Crop_Wheat,Crop_Yam,Crop_other fibres,Crop_other misc. pulses,Crop_other oilseeds
0,0,1254.0,2000.0,1.416670e-06,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2.0,1.0,7.083351e-10,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,102.0,321.0,2.273756e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,176.0,641.0,4.540428e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,720.0,165.0,1.168753e-07,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
x = data_dum.drop("Production",axis=1)
y = data_dum[["Production"]]
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.33, random_state=42)
print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (162381, 160)
x_test : (79980, 160)
y_train : (162381, 1)
y_test : (79980, 1)